* {
  margin: 0px;
  padding: 0px;
}

.tittle {
  font-size: 100px;
  /* font-family: 'Bebas Neue', sans-serif; */
  letter-spacing: 20px;
  color: var(--white);
}

.content {
  background-color: var(--primary-color);
  height: 600px;
}

.wrapper{
  background-color: var(--primary-color);
  width: 640px;
  display: flex;
  flex-direction: column;
  align-items: center;
}